body {
    width: 400px;
    max-width: 400px;
}

.container {
    max-width: 100%;
}

.contact-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.contact-item:hover {
    background-color: #f8f9fa;
}

/* Container for the chat messages */
.chat-box {
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.seeMoreBtn {
    position: fixed;
    top: 245px; /* Adjust the bottom position */
    right: 50px; /* Adjust the right position */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between buttons */
    z-index: 1000; /* Ensure the buttons are on top of other content */
}

/* Base styling for the chat bubbles */
.chat-bubble {
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    width: fit-content;
    max-width: 80%;
    word-wrap: break-word;
}

/* Outgoing message styles (sent by you) */
.message-out {
    background-color: #dcf8c6;
    align-self: flex-end;
    margin-left: auto;
}

/* Incoming message styles (received) */
.message-in {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    align-self: flex-start;
    text-align: left;
}

.message-time {
    font-size: 12px;
    color: #555;
    margin-top: 3px;
}

/* Basic styling for the buttons */
.fab-container {
    position: fixed;
    bottom: 20px; /* Adjust the bottom position */
    right: 20px; /* Adjust the right position */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between buttons */
    z-index: 1000; /* Ensure the buttons are on top of other content */
}

.fab {
    background-color: white;
    color: dark;
    border: 1px solid blue;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.fab:hover {
    background-color: #8989E5;
    color:white;
}

.fab i {
    font-size: 24px;
}